body {
    background-color: #FAFAFA;
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
}

h1 {
    font-weight: 300;
    text-align: left;
    font-size: 24px;
    margin-bottom: 20px;
}

.filters {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.filters .filter-container {
    flex: 1;
    margin-right: 20px;
}

.filters .filter-container:last-child {
    margin-right: 0;
}

.filters select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #FFFFFF;
    color: #333;
    border-radius: 5px;
    font-size: 14px;
}

.filters .clear-filters {
    font-size: 14px;
    color: #000;
    cursor: pointer;
    text-align: right;
    margin-top: 10px;
}

.exam-selected {
    margin: 20px 0;
    color: #888;
    font-size: 14px;
}

.exam-card {
    display: none; 
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    position: relative;
}

.exam-card.show {
    display: block; 
}

.exam-card h3 {
    margin: 0 0 10px 0;
    font-size: 18px;
}

.exam-card p {
    margin: 5px 0;
    color: #888;
    font-size: 14px;
}

.trash-icon {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #f00;
    cursor: pointer;
    font-size: 18px;
}

.doctor-card {
    display: none;
    background-color: #E0F7FA;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    width: 23%;
    float: left;
    box-sizing: border-box;
    margin-right: 2%;
    margin-bottom: 20px;
}

.doctor-card.show {
    display: block; 
}

.doctor-card img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: block;
    margin: 0 auto 10px auto;
}

.doctor-card h4 {
    margin: 10px 0;
    color: #01579B;
    font-size: 16px;
}

.doctor-card p {
    margin: 5px 0;
    color: #888;
    font-size: 14px;
}

.stars {
    color: #FFD700;
    font-size: 14px;
}

.appointment-card {
    background-color: #E0F7FA;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 33%;
    height: 20%;
    float: right;
    box-sizing: border-box;
}

.appointment-card.show {
    display: block; 
    float: right;
    width: 40%;
}

.appointment-card select,
.appointment-card button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    background-color: #FFFFFF;
    color: #333;
    border-radius: 5px;
    font-size: 14px;
}

.days {
    display: flex;
    justify-content: space-between;
}

.day {
    width: 23%;
    text-align: center;
}

.day h5 {
    margin: 0;
    color: #000;
    font-size: 14px;
}

.day p {
    margin: 5px 0;
    color: #888;
    font-size: 14px;
}

.day button {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

.confirm-button {
    background-color: #01579B;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 100%;
    padding: 15px;
    font-size: 16px;
    border-radius: 5px;
    text-transform: uppercase;
}

.confirm-button:hover {
    background-color: #014570;
}

.clear {
    clear: both;
}
