* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}
.doctors{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(img/capa2.png);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.doctors-text {
    padding: 10%;
}
.doctors-text h1{
    font-size: 3rem;
    line-height: 1.3;
    margin-bottom: 25px;
}
.doctors-text p {
    line-height: 33px;
    margin-bottom: 60px;
}
.btn {
    padding: 20px 35px;
    color: #fff;
    background-color:#161d53;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 30px;
    transition: all .50s ease;
}
.fa-search {
    color: #161d53;
    width: 70px;
}
  #pesquisar {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
  }
  
  .search-container {
    display: flex;
    align-items: center;
    border: 1px solid #161d53;
    border-radius: 20px;
    overflow: hidden;
    height: 50px;
    width: 500px;
  }
  
  .search-input {
    border: none;
    padding: 10px 15px;
    width: 100%;
    outline: none;
    font-size: 16px;
  }
  
  
  
  .search-button {
    background-color: transparent;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    color: #161d53;
  }
  
  .search-button svg {
    fill: #606060;
  }
  
  .search-button:focus {
    outline: none;
  }
  

  .containerCaixa {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    margin-top: 10px;
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    background-color: #ffffff;
  }
  
  .card:hover {
    transform: scale(1.03);
  }
  
  .card-image img {
    width: 300px;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
  }
  
  .card:hover .card-image img {
    width: 300px;
    height: auto;
    transform: scale(1.1);
  }
  
  .card-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
  }
  
  .card-content h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
  }
  
  .card-content p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
  }
  
  @media (max-width: 768px) {
    .card {
      flex-direction: column;
      max-width: 100%;
    }
  
    .card-image img {
      width: 100%;
      height: auto;
    }
  }